<html>
    <head>
        <title>Meilleur systeme d'alarme</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8" />
        <link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css'>
    </head>
    <body style="background-color: rgb(172, 180, 142)">
        <div class="w3-center">
            <h1>Bienvenue sur le site du systeme d'alarme</h1>
        </div>

        <br><br><br><br><br><br><br><br><br><br>    




        <img src="https://scontent.fymq3-1.fna.fbcdn.net/v/t1.6435-9/57240635_1073124422871681_5090983774292803584_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=iKfBtB5FieQAX-_qKHw&_nc_ht=scontent.fymq3-1.fna&oh=00_AfCGo2DE53ZMBIgL9N68gyLP6N2eynvRBtak_B0OY1ykxw&oe=6441B1B0" width="400" height="300" style="position: absolute; top: 8px; right: 8px;">
        <img src="https://scontent.fymq3-1.fna.fbcdn.net/v/t31.18172-8/10474488_783280645071122_715848449869691664_o.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=pFeJNZu_mHoAX8EkBRi&_nc_ht=scontent.fymq3-1.fna&oh=00_AfCHy_WKw-trtCgiJ0lGRohOCH3vmyCCAx9qfS9kcmq6ug&oe=6441C595" width="400" height="300" style="position: absolute; top: 8px; left: 8px;">
        <img src="https://scontent.fymq3-1.fna.fbcdn.net/v/t1.6435-9/58543762_104306267451033_2895295547961245696_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=174925&_nc_ohc=DEZoTIMp7msAX9mTKEl&_nc_ht=scontent.fymq3-1.fna&oh=00_AfC3Pm50vn9lr6NlQtjUnTYng7pCmIo9MzcOcarhC57y5A&oe=6441CAE1" width="400" height="300" style="position: absolute; bottom: 8px; left: 8px;">
        <img src="https://scontent.fymq3-1.fna.fbcdn.net/v/t39.30808-6/312722424_6356517587743729_6787749798521280308_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=FzvTaPowTowAX_vkNi4&_nc_ht=scontent.fymq3-1.fna&oh=00_AfD4zTSztcMh3GxsFxAHqU5jT1rOdxQBLEM1h1w-qIOLOA&oe=64204166" width="400" height="300" style="position: absolute; bottom: 8px; left: 750">
        <img src="https://scontent.fymq3-1.fna.fbcdn.net/v/t1.18169-9/582798_275708595855160_475014973_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ba80b0&_nc_ohc=_gjyclz7yEYAX_Zn5vt&_nc_ht=scontent.fymq3-1.fna&oh=00_AfDZjLtm4XkAl0_vN55jXp2X0v5ltdA-6AVc-Lw0Q-lOSg&oe=6441BC86" width="400" height="300" style="position: absolute; bottom: 8px; right: 8px;">


    </body>
</html>